h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

#scoreBoard {
  height: 50px;
  width: 50px;
  margin: 5px auto;
  border: 1px solid black;
  align-items: center;
  text-align: center;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 2px;
}

.ghost {
  background-color: gray;
  border-radius: 5px;
}

.normalFood {
  background-color: red;
}
