* {
  font-family: sans-serif;
}

html {
  touch-action: manipulation;
}

#container {
  margin: 100px auto;
  width: 795px;
  box-shadow: inset 0px 0px 7px 1px gray;
  background-color: rgba(41, 150, 41, 0.3);
}

#header {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(41, 150, 41, 0.3);
}

#header > h1 {
  font-weight: lighter;
}

#header h4,
#header h1 {
  color: rgb(83, 83, 83);
}

#grid {
  width: 795px;
  display: flex;
  flex-wrap: wrap;
}

#scoreBoard {
  display: flex;
  height: 50px;
  padding: 0 5px;
  align-items: center;
}

.cell {
  width: 15px;
  height:15px;
}

.snake {
  background-color: rgb(11, 61, 22);
  border-radius: 20%;
}

.ghost {
  background-color: gray;
  border-radius: 50%;
}

.normalFood {
  background-color: rgb(78, 13, 116);
  border-radius: 50%;
}

.specialFood {
  animation-name: specialFoodGlow;
  background-color: red;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  border-radius: 50%;
}

@keyframes specialFoodGlow {
  from {
    box-shadow: 0px 0px 3px 3px red;
  }
  to {
    box-shadow: 0px 0px 1px 1px red;
  }
}

#buttonContainer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

#buttonContainer > button {
  margin: 0 5px;
  height: 200px;
  flex-grow: 1;
  background-color: rgba(41, 150, 41, 0.3);
  border: none;
  outline: none;
  box-shadow: 0 0 5px gray;
  border-radius: 2%;
}

#leftButton:active, #rightButton:active {
  background-color: rgba(41, 150, 41, 0.5);
  border: 0 0 0px transparent;
  }

@media screen and (max-width: 800px) {
  .cell {
    width: 1.8vw;
    height:1.8vw;
  }

  #grid {
    width: 95.4vw;
  }

  #container {
    margin: 10px auto;
    width: 95.4vw;
  }

  #buttonContainer {
    display: flex;
  }
}